debug_captures

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.venv
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Visual Studio Code
.vscode/

